*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 15vh;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.header-heading{
    color: white;
    width: 60%;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

#filter-bar, #add-item-box{
    width: 50%;
    height: 4vh;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 200;
    color: gray;
    padding-left: 1rem;
}

#add-item-box{
    width: 20%;
}

.container-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: gray;
    border-width: 0.05rem;
    margin-top: 1rem;
}

.add-items-block{
    padding: 1.1rem;
    width: 100%;
}

#submit-button{
    height: 4vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: black;
    color: white;
}

.items-display-block{
    width: 100%;
    padding: 1.1rem;
}

#add-items-block-heading, .items-display-block-heading{
    padding-bottom: 0.5rem;
    font-weight: 200;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-width: 0.05rem;
    list-style: none;
}

.del-button{
    padding: 0.3rem;
    background-color: red;
    color: white;
    border: none;
}

.item-name{
    font-weight: 200;
}